.flight {
  &-direction {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 14px;
    color: #9098a9;
    font-weight: 600;

    strong {
      color: #223254;
    }

    svg {
      margin-right: 8px;
      color: #223254;
    }
  }

  &-info {
    // display: grid;
    // grid-template-columns: 1.4fr 2fr 2fr 2fr;
    background: #f4f5f7;
    padding: 8px 12px;
    border-radius: 4px;

    // > div {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    // }
  }
}
