* {
  font-family: "Montserrat", Arial, sans-serif !important;
}

body {
  background-color: #f4f5f7;
}

.MuiAppBar-root {
  background: #2962ff !important;
}

.MuiStepIcon-root.MuiStepIcon-active {
  color: #2962ff !important;
}

.MuiStepper-horizontal {
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.05) !important;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;

  > div {
    & + div {
      margin-left: 24px;
    }
  }
}

.flight-container {
  flex: 1;
}

.cart-container {
  flex: 0 0 450px;

  .cart {
    padding: 24px;

    &-flight {
      display: flex;
      align-items: center;

      > svg {
        margin-right: 16px;
      }

      & + div {
        border-top: 1px dashed #dcdfe6;
        margin-top: 16px;
        padding-top: 16px;
      }

      &-info {
        flex: 1;

        &-title {
          display: flex;
          align-items: center;
          color: #9098a9;
          font-weight: 600;
          font-size: 14px;

          svg {
            margin-right: 8px;
          }
        }

        &-price {
          margin-top: 4px;
        }
      }

      &-action {
        svg {
          font-size: 22px;
          opacity: 0.5;
        }
      }
    }

    .heading {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #9098a9;
      font-weight: 600;
      border-bottom: 1px dashed #dcdfe6;
      margin-bottom: 16px;
      padding-bottom: 16px;

      strong {
        color: #223254;
        margin-right: 6px;
      }

      svg {
        margin-right: 8px;
        color: #223254;
      }
    }

    footer {
      border-top: 1px dashed #dcdfe6;
      margin-top: 16px;
      padding-top: 16px;
      font-size: 14px;

      > div + div {
        margin-top: 8px;
      }
    }
  }
}

.card {
  margin-bottom: 24px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.05);
}
