.flights {
  .flight-card {
    display: flex;

    &-info {
      flex: 1;
      padding: 24px;
      border-right: 1px solid #f0f0f0;
      color: #223254;
    }

    &-select {
      flex: 0 0 160px;
      padding: 24px;
      color: #223254;

      h5 {
        font-size: 20px;
        margin: 0;
        margin-bottom: 8px;
        font-weight: bolder;
      }

      button {
        background: #1abc9c;
        color: #fff;
        text-transform: capitalize;
        width: 100%;
        font-weight: 600;
      }
    }

    hr {
      border: 0;
      border-top: 1px solid #f4f5f7;
      margin: 16px 0;
    }
  }
}
